<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
    <ion-title>
      <ng-container *ngIf="category">Edytuj </ng-container>
      <ng-container *ngIf="!category">Dodaj </ng-container>
       kategorię
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="!category.name.length">Zapisz</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nazwa</ion-label>
    <ion-input name="name" placeholder="nazwa" (ionChange)="changeName($event)" [value]="category.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Przypomnienie o końcu terminu</ion-label>
    <ion-select interface="action-sheet" placeholder="Przypomnienie o końcu terminu" (ionChange)="changeNotifyDays($event)" [value]="category.notifyDays">
      <ion-select-option [value]="1">1 dzień przed</ion-select-option>
      <ion-select-option [value]="7">7 dni przed</ion-select-option>
      <ion-select-option [value]="14">14 dni przed</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nazwa</ion-label>
    <ion-textarea name="description" placeholder="opis" (ionChange)="changeDesc($event)" [value]="category.description"></ion-textarea>
  </ion-item>
</ion-content>
