<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kategorie
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let cat of categories" (click)="openEditCategoryModal(cat)">
      <ion-label>{{cat.name}}</ion-label>
      <ion-button color="danger" (click)="remove(cat.uuid)">
        <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <app-no-data *ngIf="!categories.length" text="Brak kategorii"></app-no-data>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddCategoryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
