<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lokalizacje
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let location of locations" (click)="openEditLocation(location)">
      <ion-label>{{location.name}}</ion-label>
      <ion-button color="danger" (click)="remove(location.uuid)">
        <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <app-no-data *ngIf="!locations.length" text="Brak lokalizacji"></app-no-data>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddLocationModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
