<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
    <ion-title>{{edit ? 'Edytuj ' : 'Dodaj '}} produkt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="!product.name">Zapisz</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nazwa</ion-label>
    <ion-input name="name" placeholder="nazwa" (ionChange)="changeName($event)" [value]="product.name"></ion-input>
  </ion-item>

  <ion-item>
      <ion-select interface="action-sheet" placeholder="Wybierz kategorię" (ionChange)="changeCategory($event)" [value]="product.categoryId" style="width: 100%">
        <ion-select-option [value]="null">Bez kategorii</ion-select-option>
        <ion-select-option [value]="cat.uuid" *ngFor="let cat of categories">{{cat.name}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-select interface="action-sheet" placeholder="Wybierz lokalizację" (ionChange)="changeLocation($event)" [value]="product.locationId" style="width: 100%">
      <ion-select-option [value]="null">Domyślna</ion-select-option>
      <ion-select-option [value]="loc.uuid" *ngFor="let loc of locations">{{loc.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="dataP">Data przydatności</div>
  <div class="daysCounter">
    <div>
      <ion-button (click)="changeDays(expirationDays-2)">-</ion-button>
    </div>
    <div>
      <ion-label position="stacked">Dni</ion-label>
      <ion-input name="days" placeholder="Dni" (ionChange)="changeDays($event.target.value)" [value]="expirationDays"></ion-input>
    </div>
    <div>
      <ion-button (click)="changeDays(expirationDays+2)">+</ion-button>
    </div>
  </div>
  <ion-item>
    <ion-button (click)="isOpenDatePicker = true" *ngIf="!isOpenDatePicker" style="margin: 0 auto;">
      {{product.validityDate && product.validityDate.toLocaleDateString()}}
    </ion-button>
  </ion-item>
  <ion-datetime presentation="date" (ionChange)="changeDate($event)" *ngIf="isOpenDatePicker" [min]="minDate"></ion-datetime>

  <ion-item>
    <ion-label position="stacked">Notatki</ion-label>
    <ion-textarea name="description" placeholder="notatki" (ionChange)="changeDesc($event)" [value]="product.description"></ion-textarea>
  </ion-item>
</ion-content>
