<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
    <ion-title>Dodaj produkt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="!name.length || !categoryId">Zapisz</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nazwa</ion-label>
    <ion-input name="name" placeholder="nazwa" (ionChange)="changeName($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nazwa</ion-label>
    <ion-textarea name="description" placeholder="opis" (ionChange)="changeDesc($event)"></ion-textarea>
  </ion-item>

  <ion-item>
      <ion-select interface="action-sheet" placeholder="Wybierz kategorię" (ionChange)="changeCategory($event)" style="width: 100%">
        <ion-select-option [value]="cat.uuid" *ngFor="let cat of categories">{{cat.name}}</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-datetime (ionChange)="changeDate($event)" *ngIf="isOpenDatePicker"></ion-datetime>
    <ion-button (click)="isOpenDatePicker = true" *ngIf="!isOpenDatePicker">
      {{validityData}}
    </ion-button>
  </ion-item>
</ion-content>
