<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produkty
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group [value]="defaultCategory.uuid">
    <ion-accordion [value]="cat.uuid" *ngFor="let cat of categories" >
      <ion-item slot="header" color="light" *ngIf="(products | filterProductsByCatId: cat.uuid).length">
        <ion-label>{{cat.name}}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-item *ngFor="let prod of products | filterProductsByCatId: cat.uuid" (click)="openEditProductModal(prod)">
          <ion-label>{{prod.name}}  <span *ngIf="prod.validityDate">({{prod.validityDate.toLocaleString()}})</span></ion-label>
          <ion-button color="danger" (click)="remove(prod.uuid)">
            <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-accordion>

    <ion-accordion [value]="null" *ngIf="(products | filterProductsByCatId: null).length">
      <ion-item slot="header" color="light">
        <ion-label>Bez kategorii</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-item *ngFor="let prod of products | filterProductsByCatId: null" (click)="openEditProductModal(prod)">
          <ion-label>
            {{prod.name}}
            ({{getExpirationDays(prod)}})
          </ion-label>
          <ion-button color="danger" (click)="remove(prod.uuid)">
            <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <app-no-data *ngIf="!products.length" text="Brak produktów"></app-no-data>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
