<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produkty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produkty</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div *ngFor="let cat of categories">
      <ion-item-divider *ngIf="(products | filterProductsByCatId: cat.uuid).length">
        <ion-label class="catName">
          {{cat.name}}
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let prod of products | filterProductsByCatId: cat.uuid">
        <ion-label>{{prod.name}}</ion-label>
        <ion-button color="danger" (click)="remove(prod.uuid)">
          <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>

  <app-no-data *ngIf="!products.length" text="Brak produktów"></app-no-data>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
